<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blue.game.mapper.BlueGameLeaveMapper">

    <resultMap type="BlueGameLeave" id="BlueGameLeaveResult">
        <result property="id" column="id"/>
        <result property="leaveType" column="leave_type"/>
        <result property="leaveMessage" column="leave_message"/>
        <result property="leaveImages" column="leave_images"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectBlueGameLeaveVo">
        select id, leave_type, leave_message, leave_images,create_by,create_time
        from blue_game_leave
    </sql>

    <select id="selectBlueGameLeaveList" parameterType="BlueGameLeave" resultMap="BlueGameLeaveResult">
        <include refid="selectBlueGameLeaveVo"/>
        <where>
            <if test="leaveType != null ">and leave_type = #{leaveType}</if>
            <if test="leaveMessage != null  and leaveMessage != ''">and leave_message = #{leaveMessage}</if>
            <if test="leaveImages != null  and leaveImages != ''">and leave_images = #{leaveImages}</if>
        </where>
    </select>

    <select id="selectBlueGameLeaveById" parameterType="Long" resultMap="BlueGameLeaveResult">
        <include refid="selectBlueGameLeaveVo"/>
        where id = #{id}
    </select>

    <insert id="insertBlueGameLeave" parameterType="BlueGameLeave" useGeneratedKeys="true" keyProperty="id">
        insert into blue_game_leave
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="leaveType != null">leave_type,</if>
            <if test="leaveMessage != null and leaveMessage != ''">leave_message,</if>
            <if test="leaveImages != null">leave_images,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="leaveType != null">#{leaveType},</if>
            <if test="leaveMessage != null and leaveMessage != ''">#{leaveMessage},</if>
            <if test="leaveImages != null">#{leaveImages},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateBlueGameLeave" parameterType="BlueGameLeave">
        update blue_game_leave
        <trim prefix="SET" suffixOverrides=",">
            <if test="leaveType != null">leave_type = #{leaveType},</if>
            <if test="leaveMessage != null and leaveMessage != ''">leave_message = #{leaveMessage},</if>
            <if test="leaveImages != null">leave_images = #{leaveImages},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time =#{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlueGameLeaveById" parameterType="Long">
        delete
        from blue_game_leave
        where id = #{id}
    </delete>

    <delete id="deleteBlueGameLeaveByIds" parameterType="String">
        delete from blue_game_leave where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>