<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blue.sort.mapper.BlueSortMapper">
    
    <resultMap type="BlueSort" id="BlueSortResult">
        <result property="id"    column="id"    />
        <result property="sortName"    column="sort_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBlueSortVo">
        select id, sort_name, create_time, update_time, create_by, update_by, remark from blue_sort
    </sql>

    <select id="selectBlueSortList" parameterType="BlueSort" resultMap="BlueSortResult">
        <include refid="selectBlueSortVo"/>
        <where>  
            <if test="sortName != null  and sortName != ''"> and sort_name like concat('%', #{sortName}, '%')</if>
        </where>
    </select>
    
    <select id="selectBlueSortById" parameterType="Long" resultMap="BlueSortResult">
        <include refid="selectBlueSortVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBlueSort" parameterType="BlueSort" useGeneratedKeys="true" keyProperty="id">
        insert into blue_sort
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sortName != null and sortName != ''">sort_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sortName != null and sortName != ''">#{sortName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBlueSort" parameterType="BlueSort">
        update blue_sort
        <trim prefix="SET" suffixOverrides=",">
            <if test="sortName != null and sortName != ''">sort_name = #{sortName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlueSortById" parameterType="Long">
        delete from blue_sort where id = #{id}
    </delete>

    <delete id="deleteBlueSortByIds" parameterType="String">
        delete from blue_sort where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>