<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blue.system.mapper.BluePhotoMapper">

    <resultMap type="BluePhoto" id="BluePhotoResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="sortId" column="sort_id"/>
        <result property="photoUrl" column="photo_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="selectBluePhotoVo">
        select id, user_id, sort_id, photo_url, create_time, update_time, status
        from blue_photo
    </sql>

    <select id="selectBluePhotoList" parameterType="BluePhoto" resultMap="BluePhotoResult">
        <include refid="selectBluePhotoVo"/>
        <where>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="sortId != null ">and sort_id = #{sortId}</if>
            <if test="photoUrl != null  and photoUrl != ''">and photo_url = #{photoUrl}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectBluePhotoById" parameterType="Long" resultMap="BluePhotoResult">
        <include refid="selectBluePhotoVo"/>
        where id = #{id}
    </select>

    <insert id="insertBluePhoto" parameterType="BluePhoto" useGeneratedKeys="true" keyProperty="id">
        insert into blue_photo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="sortId != null">sort_id,</if>
            <if test="photoUrl != null and photoUrl != ''">photo_url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="sortId != null">#{sortId},</if>
            <if test="photoUrl != null and photoUrl != ''">#{photoUrl},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateBluePhoto" parameterType="BluePhoto">
        update blue_photo
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="sortId != null">sort_id = #{sortId},</if>
            <if test="photoUrl != null and photoUrl != ''">photo_url = #{photoUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBluePhotoById" parameterType="Long">
        delete
        from blue_photo
        where id = #{id}
    </delete>

    <delete id="deleteBluePhotoByIds" parameterType="String">
        delete from blue_photo where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>