<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blue.blog.mapper.BlueLeaveMessageMapper">
    
    <resultMap type="BlueLeaveMessage" id="BlueLeaveMessageResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="content"    column="content"    />
        <result property="userAvater"    column="user_avater"    />
        <result property="barrageHeight"    column="barrage_height"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBlueLeaveMessageVo">
        select id, user_id, content, user_avater, barrage_height, create_time, update_time, create_by, update_by, remark from blue_leave_message
    </sql>

    <select id="selectBlueLeaveMessageList" parameterType="BlueLeaveMessage" resultMap="BlueLeaveMessageResult">
        <include refid="selectBlueLeaveMessageVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="userAvater != null  and userAvater != ''"> and user_avater = #{userAvater}</if>
            <if test="barrageHeight != null "> and barrage_height = #{barrageHeight}</if>
        </where>
    </select>
    
    <select id="selectBlueLeaveMessageById" parameterType="Long" resultMap="BlueLeaveMessageResult">
        <include refid="selectBlueLeaveMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBlueLeaveMessage" parameterType="BlueLeaveMessage" useGeneratedKeys="true" keyProperty="id">
        insert into blue_leave_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="userAvater != null and userAvater != ''">user_avater,</if>
            <if test="barrageHeight != null">barrage_height,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="userAvater != null and userAvater != ''">#{userAvater},</if>
            <if test="barrageHeight != null">#{barrageHeight},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBlueLeaveMessage" parameterType="BlueLeaveMessage">
        update blue_leave_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="userAvater != null and userAvater != ''">user_avater = #{userAvater},</if>
            <if test="barrageHeight != null">barrage_height = #{barrageHeight},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlueLeaveMessageById" parameterType="Long">
        delete from blue_leave_message where id = #{id}
    </delete>

    <delete id="deleteBlueLeaveMessageByIds" parameterType="String">
        delete from blue_leave_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>