<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blue.blog.mapper.BlueProgramToolMapper">
    
    <resultMap type="BlueProgramTool" id="BlueProgramToolResult">
        <result property="id"    column="id"    />
        <result property="sortId"    column="sort_id"    />
        <result property="toolName"    column="tool_name"    />
        <result property="toolDescribe"    column="tool_describe"    />
        <result property="toolAvater"    column="tool_avater"    />
        <result property="toolUrl"    column="tool_url"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectBlueProgramToolVo">
        select id, sort_id, tool_name, tool_describe, tool_avater,tool_url, create_time, update_time, create_by, update_by from blue_program_tool
    </sql>

    <select id="selectBlueProgramToolList" parameterType="BlueProgramTool" resultMap="BlueProgramToolResult">
        <include refid="selectBlueProgramToolVo"/>
        <where>  
            <if test="sortId != null "> and sort_id = #{sortId}</if>
            <if test="toolName != null  and toolName != ''"> and tool_name like concat('%', #{toolName}, '%')</if>
            <if test="toolDescribe != null  and toolDescribe != ''"> and tool_describe = #{toolDescribe}</if>
            <if test="toolAvater != null  and toolAvater != ''"> and tool_avater = #{toolAvater}</if>
        </where>
    </select>
    
    <select id="selectBlueProgramToolById" parameterType="Long" resultMap="BlueProgramToolResult">
        <include refid="selectBlueProgramToolVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBlueProgramTool" parameterType="BlueProgramTool" useGeneratedKeys="true" keyProperty="id">
        insert into blue_program_tool
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sortId != null">sort_id,</if>
            <if test="toolName != null and toolName != ''">tool_name,</if>
            <if test="toolDescribe != null and toolDescribe != ''">tool_describe,</if>
            <if test="toolAvater != null and toolAvater != ''">tool_avater,</if>
            <if test="toolUrl != null and toolUrl != ''">tool_url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sortId != null">#{sortId},</if>
            <if test="toolName != null and toolName != ''">#{toolName},</if>
            <if test="toolDescribe != null and toolDescribe != ''">#{toolDescribe},</if>
            <if test="toolAvater != null and toolAvater != ''">#{toolAvater},</if>
            <if test="toolUrl != null and toolUrl != ''">#{toolUrl},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateBlueProgramTool" parameterType="BlueProgramTool">
        update blue_program_tool
        <trim prefix="SET" suffixOverrides=",">
            <if test="sortId != null">sort_id = #{sortId},</if>
            <if test="toolName != null and toolName != ''">tool_name = #{toolName},</if>
            <if test="toolDescribe != null and toolDescribe != ''">tool_describe = #{toolDescribe},</if>
            <if test="toolAvater != null and toolAvater != ''">tool_avater = #{toolAvater},</if>
            <if test="toolUrl != null and toolUrl != ''">tool_url = #{toolUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlueProgramToolById" parameterType="Long">
        delete from blue_program_tool where id = #{id}
    </delete>

    <delete id="deleteBlueProgramToolByIds" parameterType="String">
        delete from blue_program_tool where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>