<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blue.sort.mapper.BlueSortTagMapper">
    
    <resultMap type="BlueSortTag" id="BlueSortTagResult">
        <result property="id"    column="id"    />
        <result property="sortId"    column="sort_id"    />
        <result property="tagName"    column="tag_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBlueSortTagVo">
        select id, sort_id, tag_name, create_time, update_time, create_by, update_by, remark from blue_sort_tag
    </sql>

    <select id="selectBlueSortTagList" parameterType="BlueSortTag" resultMap="BlueSortTagResult">
        <include refid="selectBlueSortTagVo"/>
        <where>  
            <if test="sortId != null "> and sort_id = #{sortId}</if>
            <if test="tagName != null  and tagName != ''"> and tag_name like concat('%', #{tagName}, '%')</if>
        </where>
    </select>
    
    <select id="selectBlueSortTagById" parameterType="Long" resultMap="BlueSortTagResult">
        <include refid="selectBlueSortTagVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBlueSortTag" parameterType="BlueSortTag" useGeneratedKeys="true" keyProperty="id">
        insert into blue_sort_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sortId != null">sort_id,</if>
            <if test="tagName != null and tagName != ''">tag_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sortId != null">#{sortId},</if>
            <if test="tagName != null and tagName != ''">#{tagName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBlueSortTag" parameterType="BlueSortTag">
        update blue_sort_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="sortId != null">sort_id = #{sortId},</if>
            <if test="tagName != null and tagName != ''">tag_name = #{tagName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlueSortTagById" parameterType="Long">
        delete from blue_sort_tag where id = #{id}
    </delete>

    <delete id="deleteBlueSortTagByIds" parameterType="String">
        delete from blue_sort_tag where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>