* {
  /* 默认有边距，都要清除 */
  margin: 0;
  padding: 0;
  /*文字样式*/
  font-family: "Regular", "Microsoft Yahei" !important;
}


/**默认字体*/
@font-face {
  font-family: "Regular";
  font-weight: 400;
  src: url("./fonts/AlimamaDongFangDaKai-Regular.woff2") format("woff2"),
    url("./fonts/AlimamaDongFangDaKai-Regular.woff2") format("woff");
  font-display: swap;
}

/**input背景*/
input {
  background: none;
  outline: none;
  border: 0;
}

//文字不可以被选择
.no_select {
  //设置文字不被点击选中
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard syntax */
}

/**背景颜色*/
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
  opacity: 0.3;
}

/**背景渐变色*/
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

/**圆角*/
*::-webkit-scrollbar-track {
  border-radius: 20px;
}

/**盒子阴影*/
.box_shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

/**盒子阴影*/
.box_shadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

/**图标*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/**鼠标点击效果*/
.pointer {
  cursor: pointer;
}

/**盒子圆角*/
.box_radius {
  border-radius: 5px 5px 8px 8px;
}

/**黑夜模式*/
.bg_black {
  position: relative;
  background-color: rgb(16, 16, 20) !important;
  color: rgba(255, 255, 255, 0.82) !important;
  transition: color 1s ease;
  transition: background-color 0.8s ease;
}

/**白昼模式*/
.bg_white {
  position: relative;
  color: rgb(51, 54, 57) !important;
  transition: color 1s ease;
  transition: background-color 0.8s ease;
}

.bg_black::before {
  content: '';
  background: url("/static/images/loading_bg.png") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.bg_white::before {
  content: '';
  background: url("/static/images/loading_bg.png") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

/**弹幕样式*/
.Barrage {
  display: flex;
  align-items: center;
  height: 25px;
  border-radius: 15px;
  position: absolute;
  cursor: default;
  background: rgba(0, 0, 0, 0.6);
  padding: 3px 10px 3px 10px;
}

//弹幕文字
.BarrageSpan {
  white-space: nowrap;
  font-size: 16px;
}

//弹幕图片
.BarrageImg {
  width: 100%;
  height: 100%;
  margin-right: 5px;
  border-radius: 50%;
}

//一张旋转
.rotateAll {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 1s ease-in;
  animation-name: rotateAll;
  /*关键帧名称*/
  animation-timing-function: linear;
  /*动画的速度曲线*/
  animation-iteration-count: infinite;
  /*动画所花费的时间*/
  animation-duration: 2s;
}