<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blue.blog.mapper.BluePixivLeaveMessageMapper">
    
    <resultMap type="BluePixivLeaveMessage" id="BluePixivLeaveMessageResult">
        <result property="id"    column="id"    />
        <result property="pixivId"    column="pixiv_id"    />
        <result property="episodeId"    column="episode_id"    />
        <result property="border"    column="border"    />
        <result property="color"    column="color"    />
        <result property="text"    column="text"    />
        <result property="time"    column="time"    />
        <result property="mode"    column="mode"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectBluePixivLeaveMessageVo">
        select id, pixiv_id, episode_id, border, color, text, time, mode, create_time, update_time, create_by, update_by from blue_pixiv_leave_message
    </sql>

    <select id="selectBluePixivLeaveMessageList" parameterType="BluePixivLeaveMessage" resultMap="BluePixivLeaveMessageResult">
        <include refid="selectBluePixivLeaveMessageVo"/>
        <where>  
            <if test="pixivId != null "> and pixiv_id = #{pixivId}</if>
            <if test="episodeId != null "> and episode_id = #{episodeId}</if>
            <if test="border != null "> and border = #{border}</if>
            <if test="color != null  and color != ''"> and color = #{color}</if>
            <if test="text != null  and text != ''"> and text = #{text}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="mode != null "> and mode = #{mode}</if>
        </where>
    </select>
    
    <select id="selectBluePixivLeaveMessageById" parameterType="Long" resultMap="BluePixivLeaveMessageResult">
        <include refid="selectBluePixivLeaveMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBluePixivLeaveMessage" parameterType="BluePixivLeaveMessage" useGeneratedKeys="true" keyProperty="id">
        insert into blue_pixiv_leave_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pixivId != null">pixiv_id,</if>
            <if test="episodeId != null">episode_id,</if>
            <if test="border != null">border,</if>
            <if test="color != null and color != ''">color,</if>
            <if test="text != null and text != ''">text,</if>
            <if test="time != null">time,</if>
            <if test="mode != null">mode,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pixivId != null">#{pixivId},</if>
            <if test="episodeId != null">#{episodeId},</if>
            <if test="border != null">#{border},</if>
            <if test="color != null and color != ''">#{color},</if>
            <if test="text != null and text != ''">#{text},</if>
            <if test="time != null">#{time},</if>
            <if test="mode != null">#{mode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateBluePixivLeaveMessage" parameterType="BluePixivLeaveMessage">
        update blue_pixiv_leave_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="pixivId != null">pixiv_id = #{pixivId},</if>
            <if test="episodeId != null">episode_id = #{episodeId},</if>
            <if test="border != null">border = #{border},</if>
            <if test="color != null and color != ''">color = #{color},</if>
            <if test="text != null and text != ''">text = #{text},</if>
            <if test="time != null">time = #{time},</if>
            <if test="mode != null">mode = #{mode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBluePixivLeaveMessageById" parameterType="Long">
        delete from blue_pixiv_leave_message where id = #{id}
    </delete>

    <delete id="deleteBluePixivLeaveMessageByIds" parameterType="String">
        delete from blue_pixiv_leave_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>